* {
  margin: 0;
}
html, body {
  height: 100%;
  background: url(../img/comppattern2.png) repeat;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  /* equal to footer height */
  margin-bottom: -44px; 
}
.wrapper:after {
  content: "";
  display: block;
  height: 80px;
}

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table;
}
.clearfix:after {
    clear: both; 
}

/*Шапка*/
header {
background: #eff3f7 no-repeat;
width: 100%;
height: 119px;
margin-bottom: 39px;
}

header:after{
        content: '';
        background: url(../img/line.png) 50% 0 no-repeat;
        position: relative;
        height: 3px;
        bottom:-71px;
        display: block;
}

/*Шапка лого*/
.page_header_logo {
  position: relative;
  top: 30%;
  left: 7.14%;
}

 a img {
border: none;
}

/*Соц иконки*/

.page_header_socials{

 position: relative;
 float: right;
 top: -10px;
 right: 7.14%;

}
.sprite {
    background-image: url(../img/socials.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.icon_vk {
    width: 47px;
    height: 47px;
    background-position: -16px -16px;
}

.icon_vk:hover {
    width: 47px;
    height: 47px;
    background-position: -95px -16px;
}

.icon_twitter {
  margin-left: 25px;
    width: 47px;
    height: 47px;
    background-position: -174px -16px;
}

.icon_twitter:hover {
    width: 47px;
    height: 47px;
    background-position: -253px -16px;
}

.icon_Facebook {
  margin-left: 25px;
    width: 47px;
    height: 47px;
    background-position: -332px -16px;
}

.icon_Facebook:hover {
    width: 47px;
    height: 47px;
    background-position: -411px -16px;
}

.icon_github {
  margin-left: 25px;
    width: 47px;
    height: 47px;
    background-position: -490px -16px;
}

.icon_github:hover {
    width: 47px;
    height: 47px;
    background-position: -569px -16px;
}

/*левая часть*/
.left-col {
  position: relative;
  width: 17.857%;
  float:left;
  left: 15.714%;
  font-family: 'fira_sansbook';
}
/*Левая часть - обо мне*/

.about{
  margin-bottom: 26px;
  }

  .about-list{
    padding-left: 0px;
    list-style-type: none;
    background-color: #eff3f7;
    
  }

  /*линия между li*/
  .about .li-wrap{  
    margin: -2px 10px;
    border-bottom:2px solid  #3ba8c0;
    display: block;
  }

  .about-item:last-child .li-wrap{ 
    margin: 0px 10px;
    border-bottom:none;
  }

  .about .about-item-link{
    text-decoration: none;
    display: block;
    padding: 24px 20px 23px;
      font-size: 18px;
      color: #959aa8;
      line-height: 1.2;
  }

  .about .about-item.active{
    background-color: #3ba8c0;
  }

    .about .about-item:first-child.active{
    border-radius: 4px 4px 0px 0px;
  }

    .about .about-item:last-child.active{
    border-radius: 0px 0px 4px 4px;
  }

  .about .about-item.active .about-item-link{
      color: #ffffff;
  }
  .about-item-link:hover {

     color: #3ba8c0;

  }



/*Левая часть - контакты*/

.contacts{
  font-size: 18px;
  color: #ffffff;
  line-height: 1.2;
  font-style: normal;
  margin-bottom: 1px;
}

  .contacts-title{
    background-color: #3ba8c0;
    padding: 13px 19px 6px;
    border-radius: 4px 4px 0px 0px;
  }
   .contact-item{
    padding: 7px 10px 8px 43px;
    color: #ffffff;
      font-size: 15px;
      cursor: pointer;
      display: block;
      text-decoration: none;
  }

    .contacts .email{
        background-color: #41b9d4;
    }


    .contacts .tel{
      background-color: #48cbe8;
    }

    .contacts .skype{
      background-color: #51daf8;
      border-radius:  0px 0px 4px 4px;
    }

   .contact-item:hover{
    text-decoration: underline;
    } 
    .sprite-contacts {
  background-image: url(../img/contacts.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 10px;

}

.sprite_mail {
    width: 21px;
    height: 16px;
    background-position: -5px -5px;
}

.sprite_phone {
    width: 19px;
    height: 20px;
    background-position: -5px -31px;
}

.sprite_scype {
    width: 20px;
    height: 20px;
    background-position: -5px -61px;
}



/*Правая часть - основной контент*/

.content {
  
  position: relative;
  width: 46.571%;
  
  float:right;
  right: 15.714%;
}
 
/*первый блок*/
.main_info {
background-color: #eff3f7;
margin-bottom: 25px;
    border-radius: 4px;
      padding-bottom: 45px;
}
.main_info_header {
  font-family: 'fira_sansbook';
  font-size: 27px;
  color: #3ba8c0;
  padding: 19px 24px;
  margin: 0;
  border-bottom: 2px solid #3ba8c0;
  line-height: 1.111;
  display: inline-block;
  margin-bottom: 25px;
}


/*автарка*/

.avatar-box{
  position: absolute;
  left: 30px;
  top: 77px;
  float: left;
  margin: 18px 0px 0px;
  width: 142px;
  height: 142px;
  border-radius: 50% 50%;
  overflow: hidden;
  border: 5px solid #3ba8c0;
}

  .avatar {
    width: 100%;
  }

  /*текст справа от фото*/
.my_info {
  margin-left: 20px;

}
.my_info_sp {
  font-family: 'fira_sansbook';
    font-size: 15px;
    color: #4a545d;
  }
.info_sub {
    margin-right: 20px;
  margin-left: 210px;
font-family: 'fira_sansmedium';
font-size: 17px;
}
/*Знаю, что способ не айс, но устал... и время вышло */
.skills {
  margin-left: 353px;
  margin-top: -29px;
  margin-right: 30%; 

  line-height: 32px;
}
.skill-item {
  display: inline-block;
  padding: 0 14px;
  list-style: none;
  text-align: center;
  border-radius: 2px;
  background: linear-gradient(0deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ba8c0', endColorstr='#2e8ca2', GradientType=0); /* IE6-9 */
  font-family: ProximaNovaCond;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}
/*второй блок*/
.work_exp {
background-color: #eff3f7;
margin-bottom: 25px;
border-radius: 4px;
padding-right: 10px;
 padding-bottom: 45px;
}
.work_exp_header {
  font-family: 'fira_sansbook';
  font-size: 27px;
  color: #3ba8c0;
  padding: 19px 24px;
  margin: 0;
  border-bottom: 2px solid #3ba8c0;
  line-height: 1.111;
  display: inline-block;
}
.work_exp_place {
font-family: 'fira_sansbook';
font-size: 17px;
color: #4a545d;

}
.work_time {
font-family: 'fira_sanslight';
font-size: 15px;
color: #4a545d;
margin-bottom: 10px;
}
.exp-cont {
  position: relative;
  top: 25px;
  margin-bottom: 10px;

}
.exp-dt {
  position: relative;
  left: 66px;
  padding-left: 62px;
  padding-right: 10px;
  background: url(../img/icon_case.png) 0 center no-repeat;
}
/*третий блок*/

.education {
background-color: #eff3f7;
margin-bottom: 40px;
    border-radius: 4px;
    padding-right: 10px;
 padding-bottom: 45px;
}
.education_header {
  font-family: 'fira_sansbook';
  font-size: 27px;
  color: #3ba8c0;
  padding: 19px 24px;
  margin: 0;
  border-bottom: 2px solid #3ba8c0;
  line-height: 1.111;
  display: inline-block;  
}
.educ-cont {
  position: relative;
  top: 25px;
  margin-bottom: 10px;

}
.school_dt {
  position: relative;
  left: 66px;
  padding-left: 62px;
  padding-right: 10px;
  background: url(../img/icon_shlypa.png) 0 center no-repeat;
}
.time_dt {
 position: relative;
  left: 66px;
  padding-left: 62px;
  padding-right: 10px;
  background: url(../img/icon_page_list.png) 10px center no-repeat;

}

.hi_school {
font-family: 'fira_sansbook';
font-size: 17px;
color: #4a545d;
}
.teach_time {
font-family: 'fira_sanslight';
font-size: 15px;
color: #4a545d;
margin-bottom: 10px;
}


/*подвал прилипала*/


footer, .wrapper:after {
  height: 44px; 
}


footer {

  width: 100%;
    background-color: #eff3f7;
    position: absolute;
    padding-bottom: 5px;
    padding-top: 33px;
    min-width: 960px;
    

}
    footer:before{
        margin:0 auto;
        content: '';
        background: url(../img/line.png) 50% no-repeat;
        position: relative;
        height: 3px;
        top:-33px;
        display: block;
    }

    .admin{
    float: left;
    position: relative;
    top:-10px;
    left: 19.3%;
    display: inline-block;
    vertical-align: middle;
    }
    .copyright{
    text-align: center;
    font-size: 85%;
    color: rgb(74, 84, 93);
    line-height: 1.2;
    }

.admin-enter{

 display: block;
  width: 20px;
  height: 32px;
background: url(../img/icon_lock.png) center no-repeat;
}

.admin-enter:hover{
 display: block;
  width: 20px;
  height: 32px;
background: url(../img/icon_unlock.png) center no-repeat;
}
  