html {
    height: 100%;
}

body {
    height: 100%;
    background: url(../img/comppattern2.png) repeat;
    font-family: 'fira_sansbook';
    color: #4a545d;
}


.wrapper{
	position:relative;
	min-height:100%;
	height:auto!important;
	overflow:hidden;
}

.main-content {
   position: relative;
    max-width: 1440px;
    margin: 0 auto;

}
.pageheader {
	position: relative;
    min-width: 960px;
    height: 119px;
    margin-bottom: 39px;
    background: #eff3f7 url(../img/line.png) bottom center no-repeat;

}
.page_header_logo {
    position: absolute;
    top: 38px;
    left: 0;
}
.logo {
    display: block;
    width: 243px;
    height: 42px;
    background: url(../img/logo.png) center no-repeat;
}
.logo:hover {
    background-image: url(../img/logo-active.png);

.page_header_socials {
    position: absolute;
    top: 38px;
    right: 0;
}

.page_body {
    width: 960px;
    margin: 0 auto;
}

.wrapper:after {
	content: "";
	height: 80px;
	display: block;
}


/*socials*/
.socials {
    min-width: 260px;
    margin: 0;
    padding: 0;
}
.socials_item {
    display: inline-block;
    width: 47px;
    height: 47px;
    margin-left: 20px;
}
.socials_item:first-child {
    margin-left: 0;
}

.social {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.social-link-vk {
    background-image: url(../img/icon_Vkontakte.png);
}
.social-link-vk:hover {
    background-image: url(../img/icon_Vkontakte_hover.png);
}
.social_fb {
    background-image: url(../img/social_fb.png);
}
.social_fb:hover {
    background-image: url(../img/social_fb-active.png);
}
.social_tw {
    background-image: url(../img/social_tw.png);
}
.social_tw:hover {
    background-image: url(../img/social_tw-active.png);
}
.social_gh {
    background-image: url(../img/social_gh.png);
}
.social_gh:hover {
    background-image: url(../img/social_gh-active.png);
}




.page-footer{
	height: 80px;
	margin-top: -80px;	
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

