/* Общие стили для всех секций */
.workbox{
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
	min-height: 840px;
}
.workbox .workbox-header{
	font-family: 'fira_sansbook';
	font-size: 27px;
	font-weight: normal;
	color: #3ba8c0;
	border-bottom: 2px #3ba8c0 solid;
	margin: 0 0 23px 0;
	padding: 13px 23px;
	display: inline-block;
}
.workbox-body{
	padding-bottom: 40px;	
}
/* Общие стили для всех секций - конец */

/*Стили уже загруженных работ*/
.workbox-list {
	list-style: none;
}
